:root {
  --navblack: #212121;
  --borderblack: #3e3e3e;
  --white: #ffffff;
  --bgblack: #2b2b2b;
  --orange: #ff6e40;
  --yellow: #ffc13b;
  --grey: #a59e9e;
}
/* Layout for About page where screen's width <= 1000px
Style: all content stacks vertically */
main {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;
  padding: 20px;
}
main > * {
  opacity: 0;
  animation-name: fade;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
h1 {
  color: var(--yellow);
  font-size: clamp(40px, 5vw, 5vw);
}
h2 {
  color: var(--grey);
  font-size: clamp(20px, 1.5vw, 1.5vw);
  margin-bottom: 1vh;
}
#contact {
  display: flex;
  flex-wrap: wrap;
  row-gap: 5px;
}
span {
  font-size: clamp(20px, 1.5vw, 1.5vw);
  color: var(--white);
}
div span:first-of-type {
  background-image: url("/pics/phone.svg");
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 40px;
  margin-right: 30px;
}
div span:nth-of-type(2) {
  background-image: url("/pics/email.svg");
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 40px;
  margin-right: 30px;
}
div span:nth-of-type(3) {
  background-image: url("/pics/home.svg");
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 40px;
  margin-right: 30px;
}
#linkedin {
  vertical-align: bottom;
  display: inline-block;
  height: clamp(20px, 3vw, 3vw);
  width: clamp(20px, 3vw, 3vw);
  background-image: url("/pics/linkedin-yellow.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
#pdf {
  position: absolute;
  background-color: var(--yellow);
  opacity: 0.8;
  padding: 1vw;
  box-shadow: 5px 5px 5px var(--bgblack);
  top: 25px;
  color: var(--bgblack);
  text-decoration: none;
  font-weight: 400;
  transition: 0.5s;
  transform: translateX(200px);
  animation-name: slide;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
#pdf:hover {
  opacity: 1;
}
h3 {
  color: var(--yellow);
  font-size: clamp(25px, 2vw, 2vw);
  font-weight: 400;
  border-bottom: 1px solid var(--grey);
}
.flexcontainer {
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
}
.bold {
  font-weight: 400;
}
p {
  color: var(--white);
  font-size: clamp(20px, 1.5vw, 1.5vw);
  padding: 5px 0;
}
.triangle {
  background-image: url("/pics/triangle.svg");
  background-repeat: no-repeat;
  background-position: center left;
  background-size: clamp(20px, 3vw, 3vw) clamp(20px, 3vw, 3vw);
  padding-left: clamp(20px, 3vw, 3vw);
}
/* Remove the circles and lines that are only visible for larger screen */
.remove {
  display: none;
}
#experiencedate {
  color: var(--yellow);
}
#educationdateone {
  color: var(--yellow);
}
#educationdatetwo {
  color: var(--yellow);
}
#educationdatethree {
  color: var(--yellow);
}
li {
  font-size: clamp(20px, 1.5vw, 1.5vw);
  padding: 5px 0;
  color: var(--white);
}
img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  vertical-align: text-bottom;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slide {
  0% {
    transform: translateX(200px);
  }
  100% {
    transform: translateX(0);
  }
}
