:root {
  --navblack: #212121;
  --borderblack: #3e3e3e;
  --white: #ffffff;
  --bgblack: #2b2b2b;
  --orange: #ff6e40;
  --yellow: #ffc13b;
  --grey: #a59e9e;
}
/* Layout for Skills page where screen's width <= 1000px
Style: grid style; 2 fractions stack vertically */
main {
  display: grid;
  grid-template-columns: 1fr;
  padding: 5vw;
}
/* Layout for Skills page where screen's width >= 1001px
Style: grid style; 2 fractions stack horizontally */
@media screen and (min-width: 1001px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5vw;
  }
}
#skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation-name: fade;
  animation-duration: 2s;
}
h1 {
  color: var(--yellow);
  font-size: clamp(45px, 5vw, 5vw);
}
h1 > span:nth-child(1) {
  display: inline-block;
  opacity: 0;
  animation-name: jumpin;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
h1 > span:nth-child(2) {
  display: inline-block;
  opacity: 0;
  animation-name: jumpin;
  animation-duration: 0.5s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}
h1 > span:nth-child(3) {
  display: inline-block;
  opacity: 0;
  animation-name: jumpin;
  animation-duration: 0.5s;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
}
h1 > span:nth-child(4) {
  display: inline-block;
  opacity: 0;
  animation-name: jumpin;
  animation-duration: 0.5s;
  animation-delay: 0.9s;
  animation-fill-mode: forwards;
}
h1 > span:nth-child(5) {
  display: inline-block;
  opacity: 0;
  animation-name: jumpin;
  animation-duration: 0.5s;
  animation-delay: 1.2s;
  animation-fill-mode: forwards;
}
h1 > span:nth-child(6) {
  display: inline-block;
  opacity: 0;
  animation-name: jumpin;
  animation-duration: 0.5s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}
p {
  font-size: clamp(20px, 1.5vw, 1.5vw);
  color: var(--white);
  margin-bottom: 10px;
}
#skillsgraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0;
}
li {
  font-size: clamp(20px, 1.5vw, 1.5vw);
  color: var(--white);
  list-style-type: none;
  padding: 14px 0;
  background-position: bottom left;
  background-size: 0% 3px, 100% 3px;
  background-repeat: no-repeat;
  opacity: 0;
  animation-duration: 3s, 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-delay: 2s, 0s;
}
img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  vertical-align: text-bottom;
}
#html {
  animation-name: fillbar, fade;
  background-image: linear-gradient(#e44d26, #e44d26), linear-gradient(var(--grey), var(--grey));
}
#css {
  animation-name: fillbar, fade;
  background-image: linear-gradient(#264de4, #264de4), linear-gradient(var(--grey), var(--grey));
}
#js {
  animation-name: fillbar, fade;
  background-image: linear-gradient(#f7df1e, #f7df1e), linear-gradient(var(--grey), var(--grey));
}
#nodejs {
  animation-name: nodejsfillbar, fade;
  background-image: linear-gradient(#418b3d, #418b3d), linear-gradient(var(--grey), var(--grey));
}
#sql {
  animation-name: nodejsfillbar, fade;
  background-image: linear-gradient(#f29111, #f29111), linear-gradient(var(--grey), var(--grey));
}
#windows {
  animation-name: windowslinuxfillbar, fade;
  background-image: linear-gradient(#00adef, #00adef), linear-gradient(var(--grey), var(--grey));
}
#linux {
  animation-name: windowslinuxfillbar, fade;
  background-image: linear-gradient(#ffa63f, #ffa63f), linear-gradient(var(--grey), var(--grey));
}
#apache {
  animation-name: windowslinuxfillbar, fade;
  background-image: linear-gradient(#9e2064, #9e2064), linear-gradient(var(--grey), var(--grey));
}
#previouswork {
  border: 1px solid var(--yellow);
  width: max-content;
  padding: 10px;
  margin-top: 24px;
  font-size: clamp(20px, 1.5vw, 1.5vw);
  background-image: linear-gradient(var(--yellow), var(--yellow));
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-size: 0% 100%;
  transition: background-size 0.5s;
  color: var(--yellow);
  text-decoration: none;
}
#previouswork:hover {
  color: var(--white);
  background-position-x: 0%;
  background-size: 100% 100%;
}
@keyframes fillbar {
  0% {
    background-size: 0% 3px, 100% 3px;
  }
  100% {
    background-size: 90% 3px, 100% 3px;
  }
}
@keyframes nodejsfillbar {
  0% {
    background-size: 0% 3px, 100% 3px;
  }
  100% {
    background-size: 80% 3px, 100% 3px;
  }
}
@keyframes windowslinuxfillbar {
  0% {
    background-size: 0% 3px, 100% 3px;
  }
  100% {
    background-size: 30% 3px, 100% 3px;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes jumpin {
  0% {
    opacity: 0.3;
    transform: translateY(-200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
